[submodule "lv_examples"]
	path = components/lv_examples/lv_examples
	url = https://github.com/littlevgl/lv_examples.git
	branch = release/v7
[submodule "components/lvgl"]
	path = components/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "components/CalEPD"]
	path = components/CalEPD
	url = https://github.com/martinberlin/CalEPD.git
[submodule "components/Adafruit-GFX"]
	path = components/Adafruit-GFX
	url = https://github.com/martinberlin/Adafruit-GFX-Library-ESP-IDF
[submodule "components/sharp-lcd"]
	path = components/sharp-lcd
	url = https://github.com/martinberlin/SHARP_Memory_Display-IDF.git
[submodule "components/epdiy"]
	path = components/epdiy
	url = https://github.com/vroland/epdiy
	branch = s3_color_research
[submodule "components/lvgl_epaper_drivers"]
	path = components/lvgl_epaper_drivers
	url = https://github.com/martinberlin/lvgl_epaper_drivers.git
